


  @import url("sections/header.css");
  @import url("sections/hero.css");
  /*@import url("sections/about.css");
  @import url("sections/popular.css");
  @import url("sections/trending.css");
  @import url("sections/subscribe.css");
  @import url("sections/footer.css");*/

:root {
  --playfair-display: "Playfair Display",
  serif;
  --plus-jakarta-sans: "Plus Jakarta Sans",
  sans-serif;

  --primary-color: #b1454a;
  --secondary-color: #121212;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;

}
